<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>MediPlus</title>
</head>
<body>
    <header>
        <h1 class="logo">MediPlus</h2>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/contect">Contact Us</a>
        </nav>
    </header>
    
