<%- include("partials/header.ejs") %>
<div class="container">
    <h2 data-text="About Us">About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro ipsa, earum nemo explicabo aliquid, sint quam aut dolores praesentium similique, corporis doloribus. Labore, quod architecto ex cum praesentium recusandae autem eius repellendus voluptatem suscipit voluptatibus voluptates mollitia, quam ducimus aperiam deleniti nesciunt temporibus inventore eum necessitatibus nisi odio voluptatum.</p>
</div>
<%- include("partials/footer.ejs") %>