<%- include("partials/header.ejs") %>
<div class="container">
    <h2 data-text="Contact Us">Contact Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, voluptates! Saepe exercitationem incidunt quo minima accusantium, nisi dignissimos libero aliquam omnis, voluptatibus corrupti nemo quam cum provident, magnam excepturi esse. Veritatis, autem, eos numquam odit accusamus dolorem eius sunt vel inventore totam mollitia aliquid error non iste, quis esse dolore.</p>
</div>
<%- include("partials/footer.ejs") %>